.stat-tracker div {
	&.alert-box {
		border-width: 2px;
		border-style: dashed;
		border-radius: 8px;
		box-sizing: border-box;
		padding: 1rem;

		&.warning {
			background: color(from var(--color-level-warning-bg) srgb r g b / 0.1);
			border-color: var(--color-level-warning);
		}

		&.locked {
			margin: -0.5rem;
			padding: 0.5rem;
			border-color: var(--color-level-error);
			background: color(from var(--color-level-error-bg) srgb r g b / 0.25);
		}
	}

	&.center {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
