.stat-tracker.TableManager {
	min-width: 400px;
	min-height: 200px;
	max-height: initial;

	.window-content {
		gap: 1rem;
	}

	[data-application-part="buckets"] {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		height: auto;
		flex-grow: 1;
	}

	.input-group {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
		align-items: center;

		.hint {
			grid-column: 1 / -1;
		}
	}

	.flex-fill {
		flex-grow: 1;
		margin-bottom: -0.5rem;
	}

	.save {
		width: 100%;
	}
}
