<div>
	<stats-tracker-multi-select
		data-bind="_privacySetting"
		placeholder="STAT_TRACKER.common.DataVisibility"
	>
		{{ st-options privacySetting privacyOptions }}
	</stats-tracker-multi-select>
	<stats-tracker-multi-select
		data-bind="_selectedUsers"
		placeholder="STAT_TRACKER.common.Users"
	>
		{{ st-options selectedUsers users }}
	</stats-tracker-multi-select>
</div>
