<div>
	<div class="control-group">
		<label for="{{meta.idp}}-private-data">
			Private Data Visibility
		</label>
		<select
			id="{{meta.idp}}-private-data"
			data-bind="_privacySetting"
		>
			{{ st-options privacySetting privacyOptions }}
		</select>
	</div>
	<stats-tracker-multi-select
		data-bind="_selectedUsers"
		placeholder="STAT_TRACKER.common.Users"
	>
		{{ st-options selectedUsers users }}
	</stats-tracker-multi-select>
</div>
